body {
    /* background-color: #d7dbe2 !important; */
    background-image: linear-gradient(to left,rgb(216,8,129),rgb(0, 255, 221));
    font-family: Arial;
    text-align: center;
}

li{
  display: inline;
}